beautifulsoup4==4.7.1
chakin==0.0.8
cython==0.29.10
fasttext==0.8.3
gensim==3.7.1
gensim==3.7.3
librosa==0.6.3
matplotlib==3.0.3
networkx==2.0
numpy==1.16.2
Pillow==6.0.0
pyLDAvis==2.1.2
RMDL==1.0.6
scikit_learn==0.20.2
scikit_learn==0.21.1
sentencepiece==0.1.82
spacy==2.0.18
spacy==2.1.3
tensorflow==1.12.0
tqdm==4.29.1
