tqdm==4.31.1
networkx==2.0
matplotlib==2.2.2
pandas==0.20.3
numpy==1.15.4
torch==0.4.1
spacy==2.1.3
nltk==3.2.4
chakin==0.0.8
gensim==3.7.3
pyLDAvis==2.1.2
scikit_learn==0.21.1
tensorboardX==1.6
torchtext==0.3.1
